// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
	h2 {
		display: inline;
		padding-right: 500px;
	}

	.scroll {
		width: 1000px;
		height: 500px;
		overflow: scroll;
	}

	table {
		border-color: #000;
		border: 5px;
		text-align: center;

		th {
			background: #ccc;
		}

		tr td {
			padding: 5px;
			vertical-align: top;
		}

	}

	.title {
		width: 100px;
	}

	.author {
		width: 100px;
	}

	.body {
		width: 500px;
	}

	.time {
		width: 200px;
	}

	.list_actions {
		background-color: #fff;
	}

	.list_line_odd {
		background: #eee
	}

	.list_line_even {
		background: #fff
	}
}