// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {

	.page_header {
		display: inline;
		margin-right: 600px;
	}

	.scroll {
		height: 315px;
		overflow: auto;
	}

	table {
		text-align: center;
	}

	th {
		background: #ccc;
		padding: 5px;
	}

	tr td {
		padding: 5px;
		vertical-align: top;
	}

	.title {
		width: 150px;
	}

	.author {
		width: 150px;
	}

	.body {
		width: 500px;
	}

	.time {
		width: 200px;
	}

	.list_actions {
		background-color: #fff;
	}

	.list_line_odd {
		background: #eee
	}

	.list_line_even {
		background: #fff
	}

	p.num_articles {
		margin-top: 1em;
	}

	ul {
		padding: 0;
		
		li {
			display: inline;
			list-style: none;
			margin-right: 12em;
		}
	}

	img {
		margin-right: .5em;
	}

	a {
		color: #000;
		text-decoration: none;
	}

	a:visited {
		color: #000;
		text-decoration: none;
	}

	a:hover {
		color: #000;
		background-color: #fff;
		text-decoration: underline;
	}

	p.body_paragraph {
		margin-top: 2em;
		width: 75em;
		text-indent: 1em;
	}

	text_area {
		width: 350px;
	}

	label {
		margin-right: 3em;
		width: 10em;
		text-align: right;
		float: left;
	}

	.actions {
		margin-left: 13em;
	}
}