.authors
	#content
		margin: auto
		width: 850px
	.pic
		float: right
		margin-right: 5em
	.list
		width: 700px
		li
			width: 150px
			float: left
			list-style-type: none
	a
		color: #000
		text-decoration: none
		&:visited
			color: #000
			text-decoration: none
		&:hover
			background-color: #fff
			text-decoration: underline
	th.name, th.num_articles, th.latest_article
		background-color: #ccc
		width: 150px
	th.last_activity
		background-color: #ccc
		width: 200px
	.list_actions
		background-color: #fff
	.list_line_odd
		background-color: #fff
	.list_line_even
		background-color: #eee
	td
		text-align: center
	.pagination
		text-align: center