%h1 Listing games

%table
  %tr
    %th Title
    %th Rating
    %th User
    %th
    
  - @games.each do |game|
    %tr
      %td= link_to game.title, game
      %td= game.rating
      %td= game.user.full_name
      %td= link_to 'Show', game
%br
