// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles {
	h2 {
		display: inline;
		margin-right: 600px;
	}

	.scroll {
		height: 315px;
		overflow: auto;
	}

	table {
		text-align: center;
	}

	th {
		background: #ccc;
		padding: 5px;
	}

	tr td {
		padding: 5px;
		vertical-align: top;
	}

	.title {
		width: 150px;
	}

	.author {
		width: 150px;
	}

	.body {
		width: 500px;
	}

	.time {
		width: 200px;
	}

	.list_actions {
		background-color: #fff;
	}

	.list_line_odd {
		background: #eee
	}

	.list_line_even {
		background: #fff
	}

	p.num_articles {
		margin-top: 1em;
	}
}