header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%
}

div#title>* {
	margin: 0em;
	border: 0em;
}

div#title {
	background-color: #ccc;
	letter-spacing: .0001em;
	padding-left: 10px;
	padding-bottom: 10px;
}

div#title>p {
	color: #666;
	font-size: 90%;
	line-height: .75em;
}

div#title h1 {
	padding-top: .25em;
	font-weight: bolder;
	font-size: 210%;
}

div#menubar {
	margin-top: 0em;
	border-top: 0em;
	background-color: #000000;
	padding-top: .75em;
	padding-bottom: .75em;
	padding-left: .5em;
}

div#main_content {
	position: absolute;
	top: 110px;
	left: 15px
}

div#main_content>h2 {
	font-size: 160%;
}

div#main_content>span, input, select {
	margin-top: .25em;
	margin-bottom: 1.2em;
}

div#main_content>span.input {
	margin-right: 2.2em;
}

div#main_content>span.select {
	margin-right: .9em;
	float: left;
}

div#main_content>input#feel_me {
	position: absolute;
	top: 225px;
	left: 208px;
}

div#side_bar {
	margin-top: .75em;
	background-color: #f0f0ff;
	width: 20em;
	height: 4em;
	line-height: .75em;
	letter-spacing: .02em;
	font-size: 115%;
	padding-bottom: 1em;
	padding-right: 3em;
	padding-left: .25em;
	position: absolute;
	top: 120px;
	left: 750px;
}

div#side_bar>h3 {
	position: absolute;
	top: -15px;
}

div#side_bar>p {
	position: absolute;
	bottom: 15px;
}

a {
	margin-left: .05em;
	margin-right: 2em;
	color: #ffffff;
	font-size: 115%;
	letter-spacing: .001em;
	font-weight: bolder;
	text-decoration: none;
}

footer {
	text-align: center;
	background-color: #f0f0f0;
	width: 100%;
	line-height: 2.5em;
	position: absolute;
	left: 0px;
	bottom: 0px;
}

* {
	font-family: "Lucida Sans", Helvetica, Sans-serif;
}
