div#title {
	background-color: #d0d0d0;
}

div#menubar {
	background-color: #000000;
}

div#main_content {
	width: 70%;
	float: left;
}

div#side_bar {
	background-color: #e8e8e8;

	width: 29%;
	float: left;
}

a {
	color: #ffffff;
}

footer {
	text-align: center;
	background-color: #f0f0f0;
	clear: both;
}
