- content_for :subtitle do
  not just for the country of Spain
- content_for :submit do
  Create
= link_to image_tag('arrow_left.png'), articles_path, title: 'go to the previous page'
= link_to 'list all articles', articles_path
%h1 Creating a New Article
= render 'form'
